// permet d'aligner les contenants 
@mixin menu_horizontal{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

//enlève les dots sur les listes
@mixin remove_dot{
    list-style-type:none;
}

//centrer le texte au milieu de la div
@mixin text_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

//met un border radius
@mixin border_radius {
    border-radius: 10px;
}
